parameters:
	level: max

	paths:
		- src/
		- tests/

	ignoreErrors:
		-
			message: '#Parameter \#1 \$level.+contravariant#'
			path: src/TestLogger.php
		-
			message: '#Dynamic call to static method PHPUnit#'
			identifier: staticMethod.dynamicCall
			path: tests
